
.center{
	text-align: center;
	color: blue;

}
.cent{
	color: blue;
}
strong{
	color: red;
}
p{
	text-indent:5; 
}
em{
	color: blue;
}







.center{
	text-align: center;
	color: blue;

}
.cent{
	color: blue;
}
strong{
	color: red;
}
p{
	text-indent:5; 
}
em{
	color: blue;
}






